button { cursor: pointer; background-color:$yellow; border:none; outline: none;
  &:not(:disabled) {
    &:hover { background-color:lighten($yellow,20%); }
    &:active { box-shadow:inset .1em .1em .2em darken($yellow,20%); }
  }
  &:disabled { background-color:$grey; cursor: not-allowed; }
}

button, select, input[type=text], input[type=password] { font-family: $font; }