.game-over { background-color:$black; color: $white;
  
}
.wrongest-reveal {
  figcaption { text-transform: uppercase; font-weight:$light; color:$yellow; text-align: center; font-size:1.15em; }
  .quote-holder { background-color:lighten($yellow,30%); border:1px solid darken($yellow,20%); border-radius: 6px; color:$black; padding: 0.35em; }
  blockquote { font-size:1.4em; text-align:center;
    &:before { content:"\201C"; }
    &:after { content:"\201D"; }
  }
  cite { display: block; text-align: right; font-size:1.2em; padding-right: 1.5em;
    span {
      &:before { content:'\2014 \00A0' }
    }
  }
  position: absolute; 
}