.card {
  blockquote { font-size:2.1em;
    &:before { content:"\201C"; }
    &:after { content:"\201D"; }
    .revealed { color:desaturate(darken($pink,20%),20%); }
  }
  .button-holder { position:absolute; right:0; bottom:0; left:0;
    button { font-size:1.35em; width:100%; height:50px; }
  }
}

.flip-container { perspective: 1000;
  &.hover .flipper { @include rotateY(-180deg); }
}
.flip-container, .front, .back { width: 100%; height: 70vh; }

/* flip speed goes here */
.flipper { transition: 0.6s; transform-style: preserve-3d; position: relative }

.front, .back { backface-visibility: hidden; position: absolute; top: 0; left: 0; border-radius: 4vw; overflow: hidden; display: table;
  .inner { display: table-cell; padding:50px 10px; vertical-align: middle; text-align: center; position: relative;
    .this-is-hard { position: absolute; top:10px; right:10px; height:62px; width:62px; }
  }
}

/* front pane, placed above back */
.front { z-index: 2; transform: rotateY(0deg); background-color:#fff; border:3px solid darken($white, 20%); }
.back { transform: rotateY(180deg); background-color:$red; color:$white; border:3px solid darken($red, 20%); }