$size:4vh;

#PlayerSetup { background-color:$black; color:$white; font-size:$size;
  h1 { text-align: center; color: $green; font-size:9vw; }
  label { display: block; }
  /**
  .name-wrapper, .create-wrapper, .join-wrapper { @include flex-container(); }
  .name-input, .create-input, .join-select { @include flex-item(70%); font-size:$size; }
  .name-button, .create-button { @include flex-item(30%); font-size:$size; }
  .join-button { @include flex-item(15%); font-size:$size; }
  **/
  
  .room-choices {
    &.hidden { display: none; }
    dt { color:$green; font-weight:400; }
    dd { padding-left: 1em; }
  }
}

.create-or-join { display: table; width:100%; margin-top: 2em;
  &.hidden { display: none; }
  button { width:50%; display: table-cell; height:40vh; font-family: $font;
    > span { display: block; }
    .big { font-size:6vw; font-weight: $bold; }
    .small { font-size:4vw; font-weight: 400; }
  }
  .create-room { }
  .join-room { background-color:$blue;
    &:hover { background-color:lighten($blue,10%); }
  }
}

.create-screen, .join-screen { 
  &.hidden { display: none; }
  .inputs, form { width: 100%; }
  .inputs { display: table; margin-top: 10vh; }
  
  .row { display: table-row;
    .icon { display: table-cell; font-size:32px; width: 55px; text-align: right; padding-bottom:4vh;
      button { font-size: 32px; }
    }
    .input-holder { display: table-cell; position: relative; vertical-align: top; padding-bottom: 4vh;
      input { padding: 0.25em 0.75em; font-family: $font; width: 100%; font-size:20px; }
      select { padding: 0.25em 0.75em; font-family: $font; width: 100%; font-size:20px; }
    }
  }
  .button-holder { text-align: center; margin-bottom: 9vh; }
  button[type="submit"] { font-size:9vw; font-family:$font; padding: 0.25em 0.75em; }
}

.active-rooms { text-align: center; }

