html, body { max-height: 100vh; overflow: hidden; }

section { width: 100%; height:100vh; overflow-x: hidden; overflow-y: auto;  padding:2vh 2vw; max-width:480px; margin-left:auto; margin-right:auto;
  ol { padding-left: 2em;
    li { list-style-type: decimal; }
  }
}


