.setup { background-color:$black; color: $white; position: relative;
  img { margin-bottom: 90px; }

  p.help { margin-top: 120px;
    a { color:$yellow; }
  }
}

.starting-screen {
  .game-explanation { text-align: center; padding-top: 1em; padding-bottom: 1em;}
  input { padding: 0.4em; display: block; width: 100%; font-size: 2em; border:2px solid $grey; border-bottom:none }
  button { font-size:7vw; display: block; width: 100%; padding:0.4em; border:2px solid $grey; border-top:1px solid $grey; }
}

.create-screen { margin-top: 10vh; }
.inputs { width: 100%;
  input:not(.hidden) { width: 100%; font-size:2em; margin-bottom: 1em; padding: 0.25em 0.5em; }
}

.button-holder { text-align: center;
  button { padding: 0.25em 0.75em; font-size: 2em; }
}

.room-details, .pause-screen { margin-top: 5vh;
  .lobby-box { margin-bottom: 5vh; }
  figure {
    figcaption { font-weight: 100; text-transform: lowercase; color:$yellow; line-height:95%; }
    input[type=url] { display: block; width: 100%; text-align: center; padding: 0.25em; border:2px solid $blue; color:$blue; font-size:1.3em; }
  }

  .players { font-size:1.5em; padding-top: 1em; padding-bottom: 1em;
    li.leader {
      &:after { content:' (leader)'; }
    }
  }

  .settings-toggle { text-align:right; padding-right: 10px; padding-bottom: 10px;
    a.icon { display: inline-block;
      &.spin { animation: rotate 6s infinite linear; }
    }
    .icon-gear { width:4em; height:4em; }
    //&.expanded { @include translateY(-220px); }
  }
}

dl.admin-options { position: absolute; right:0; bottom:0; left: 0;
  dd { background-color:$white; padding: 20px; display: none;
    ul { }
    li { @extend %clearfix; }
    label, .select-holder { float: left; display: block; }
    label { color:$pink; text-align: right; padding-right: 0.5em; width:44%; padding-top: 0.25em; }
    .select-holder { text-align: left; padding-left: 0.5em; width: 56%;
      select { width:100%; padding: 0.25em 0.5em; background-color:$pink; color:$white; }
    }
    summary { color:$grey; font-size: 0.85em; @extend %clearfix; display: block; padding-top: 0.7em; padding-bottom: 1em; }
  }
}

@keyframes toastIn {
  0% { opacity: 0; transform:translateY(200%); }
  3% { opacity: 0; transform:translateY(200%); }
  26% { opacity: 1; transform:translateY(-20%); }
  30% { opacity: 1; transform:translateY(0); }
  80% { opacity: 1; transform:translateY(0); } 
  99% { opacity: 0; transform:translateY(-200%); }
  100% { opacity: 0; transform:translateY(-200%); }
}


@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}