.setup { background-color:$black; color: $white; position: relative;
  img { margin-bottom: 90px; }
  
  p.help { margin-top: 120px;
    a { color:$yellow; }
  }
}

.starting-screen {
  .game-explanation { text-align: center; padding-top: 1em; padding-bottom: 1em;}
  input { padding: 0.4em; display: block; width: 100%; font-size: 2em; border:2px solid $grey; border-bottom:none; }
  button { font-size:7vw; display: block; width: 100%; padding:0.4em; border:2px solid $grey; border-top:none; }
}

.create-screen { margin-top: 10vh; }
.inputs { width: 100%;
  input:not(.hidden) { width: 100%; font-size:2em; margin-bottom: 1em; padding: 0.25em 0.5em; }
}

.button-holder { text-align: center;
  button { padding: 0.25em 0.75em; font-size: 2em; }
}

.room-details, .pause-screen { margin-top: 5vh;
  .lobby-box { margin-bottom: 5vh; }
  figure {
    figcaption { font-weight: 100; text-transform: lowercase; color:$yellow; line-height:95%; }
    input[type=url] { display: block; width: 100%; text-align: center; padding: 0.25em; border:2px solid $blue; color:$blue; font-size:1.3em; }
  }
  
  .players { font-size:1.5em; padding-top: 1em; padding-bottom: 1em;
    li.leader {
      &:after { content:' (leader)'; }
    }
  }
  
  .settings-toggle { text-align:right; position: absolute; right:1vw; bottom:1vh; left:1vw; @include transition();
    a.icon { display: inline-block;
      &.spin { animation: rotate 6s infinite linear; }
    }
    .icon-gear { width:4em; height:4em; }
    &.expanded { @include translateY(-220px); }
  }
  
}

.admin-options { background-color:$black;
  li { padding-bottom: 0.5em; }
  label { display: block; }
  select { display: block; width: 100%; }
}

#leaderControls { position: absolute; right:1vw; bottom:1vh; left:1vw; overflow: hidden; @include transition();
  &.hidden { height:1px; }
  &.visible { height: 220px; }
}

ul#SetupToasts {
  li { display: block; margin-top: 1em; text-align: center; padding: 0.2em; border-radius: 0.2em; animation-fill-mode: forwards; animation: toastIn 5s ease; -webkit-animation-fill-mode: forwards;
    &.alert { background-color:lighten($red,40%); color:darken($red,20%);  }
    &.info { background-color:lighten($yellow,25%); color:darken($yellow,50%); }
    &.success { background-color:lighten($green,35%); color:darken($green,25%); }
  }
}

@keyframes toastIn {
  0% { opacity: 0; transform:translateY(200%); }
  3% { opacity: 0; transform:translateY(200%); }
  26% { opacity: 1; transform:translateY(-20%); }
  30% { opacity: 1; transform:translateY(0); }
  80% { opacity: 1; transform:translateY(0); } 
  99% { opacity: 0; transform:translateY(-200%); }
  100% { opacity: 0; transform:translateY(-200%); }
}


@keyframes rotate {
  0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}