.social-icons { padding-top: 10px; text-align: center;
  a { display: inline-block; width: 23%; margin-right: 2%; max-height: 60px; max-width: 60px; }
}

.social {
  &.flattr { color:#89b443;
    .top-left { fill:#f9ad33; }
    .bottom-right { fill:#89b443; }
  }
  &.github { color:#fff; }
  &.twitter { color:#55acee; }
  &.facebook { color:#3B5998; }
  &.googleplus { color:#D34836; }
  span { font-size:11px; margin-top: -5px; display: block; }
}