ul.toasts {
  li { display: block; margin-top: 1em; text-align: center; padding: 0.2em; border-radius: 0.2em; animation-fill-mode: forwards; animation: toastIn 5s ease; -webkit-animation-fill-mode: forwards;
    &.alert { background-color:lighten($red,40%); color:darken($red,20%);  }
    &.info { background-color:lighten($yellow,25%); color:darken($yellow,50%); }
    &.success { background-color:lighten($green,35%); color:darken($green,25%); }
  }
  
  &.vote { margin-top: 220px; }
}

.landscape-alert { background-color:$red; display:block; width:17em; color:$white; padding:1em; border:2px solid $black; border-radius:0.5em; text-align:center; position:absolute; left:50%; margin-left:-8.5em; top:30%; z-index:$z-landscape-alert;
  display: none;
  h3 { font-size:1.2em; padding-bottom:1em; }
  figure {
    svg { height:4em; height:4em; }
  }
}

@media only screen 
  and (max-device-width: 660px)
  and (min-aspect-ratio: 13/9) {
  .landscape-alert { display:block; }
}