$red:#c1272d;
$blue:#38A4DC;
$green:#44c127;
$yellow:#e7e145;
$grey:#7a6969;
$white:#eae6e6;
$black:#2d2929;
$pink:#EF4D79;


// MEASUREMENTS
$radius: 4vw;

// FONTS
$font: 'Comfortaa', cursive;
$bold: 700;
$normal: 400;
$light: 100;
$font-size:4vw;

// BREAKPONTS
$mobile-max: 768px;
$desktop-min: 769px;